* {
  margin: 0;
}

html, body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

.links{
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Barlow';
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: left;
}

.home_page_section{
  height: 955px;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(rgba(52, 52, 52, 0.6), rgba(52, 52, 52, 0.6)), url("img/first-image.svg");
}

.image-page-header-div{
  padding-left: 146px;
  padding-right: 146px;
  padding-top: 32px;

  display: flex;
  justify-content: flex-end;
}

.image-page-links-div{
  max-width: 427px;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  gap: 32px;
}

.text{
  margin-top: 12px;
  margin-bottom: 12px;
}

.pages{
  padding-right: 25px;
  margin-right: 32px;
}

.contact{
  margin-right: 32px;
}

.image-page-header-buttton{
  background-color: #FF4D01;
  color: #FFFFFF;
  border: none;
  margin-left: 24px;
  width: 129px;
  height: 54px;
}


.image-page-text-section{
  max-width: 1196px;
  width: 100%;
  
}

.image-page-h1-div{
  width: 660px;
  margin-left: 268px;
  margin-right: 268px;
  margin-bottom: 16px;
}

.h1{
  font-family: 'Barlow';
  font-size: 72px;
  font-weight: 400;
  line-height: 84.02px;
  text-align: center;
  color: #FFFFFF;
}

.p{
  font-family: 'Barlow';
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 35px;
}

.image-page-text-second{
  width: 656px;
  margin-left: 270px;
  margin-right: 270px;
}

.image-page-text-button-list{
  list-style: none;
  display: flex;
  padding-left: 0;
  max-width: 656px;
  display: flex;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 139px;
}

.second-level-button{
  background-color: #FF4D01;
  color: #FFFFFF;
  width: 169px;
  height: 75px;
  padding: 25px 38px 30px 38px;

  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.border-none{
  border: none;
}

.button-transparent{
  background-color: transparent;
  border: 2px solid white;
}

.image-page-text-div{
  margin-top: 166px;
  display: flex;
  justify-content: center;
}

.about_us_page_section{
  margin-left: 146px;
  margin-right: 146px;
  margin-top: 144px;
  max-width: 1148px;
  display: flex;
}

.about_us_div_left_element{
  max-width: 479px;
}

.about_us_div_right_element{
  margin-left: 73.36px;
  max-width: 596px;
  margin-top: 40px;
}

.about_us_text{
  font-family: Barlow;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.800000011920929px;
  text-align: left;
  color: #FF4D01;

  margin-bottom: 15px;
}

.about_us_h1{
  max-width: 522px;

  font-family: Barlow;
  font-size: 54px;
  font-weight: 400;
  line-height: 61.99px;
  text-align: left;

  color: #191919;

  margin-bottom: 19px;
}

.about_us_p{
  max-width: 589px;

  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: left;

  color: #605E5D;

  margin-bottom: 57px;
}

.about_us_statistics_div{
  display: flex;
  justify-content: space-between;

  margin-bottom: 48px;
}

.p_plus{
  font-family: Barlow;
  font-size: 72px;
  font-weight: 400;
  line-height: 84.02px;
  text-align: center;
  color: #FF4D01;
}

.p_number{
  font-family: Barlow;
  font-size: 72px;
  font-weight: 400;
  line-height: 84.02px;
  text-align: center;
  color: #191919;
}

.p_text{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

  color: #989899;
}

.statistics_left{
  display: flex;
}

.statistics_center{
  display: flex;
}

.statistics_right{
  display: flex;
}

.about_out_company_button{
  background-color: transparent;
  width: 237px;
  height: 75px;
}

.about_button_text{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

  color: #191919;
}
.why_choose_us_and_past_projects_section{
  background: url("img/why-choose-us-pyramid.svg") top no-repeat;
  padding-top: 274px;
}

.our_services_div{
  margin-top: 300px;
  margin-bottom: 300px;
  margin-left: 122px;
  margin-right: 122px;
}

.our_services_div_top_elements{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our_services_div_left_elements{
  max-width: 424px;
  max-height: 160px;
}

.our_services_p_first{
  font-family: Barlow;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.800000011920929px;
  text-align: left;

  color: #FF4D01;
}

.our_services_h1{
  font-family: Barlow;
  font-size: 54px;
  font-weight: 400;
  line-height: 61.99px;
  text-align: left;

  color: #191919;
}

.our_services_div_right_elements{
  display: flex;
  justify-content: space-between;
  width: 408px;
  height: 75px;
}

.our_services_left_button{
  width: 160px;
  height: 75px;
  
  background-color: #FF4D01;

  border: none;
}

.our_services_right_button{
  width: 202px;
  height: 75px;
  background-color: transparent;
}

.left_button_text{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

  color: #FFFFFF;
}

.right_button_text{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

  color: #191919;
}

.our_services_div_bottom_elements{
  width: 1275.200px;
  height: 680.23px;

  margin-top: 64px;
}

.our_services_div_top_div{
  max-width: 364px;
  max-height: 296px;
}

.our_services_div_bottom_div{
  max-width: 364px;
  max-height: 304.23px;
}

.our_services_div_image{
  margin-bottom: 32px;
  margin-right: 294px;

  width: 70px;
  height: 68px;
}

.block_square{
  width: 20px;
  height: 20px;
  background-color: black;
}

.our_services_div_top_three_elements{
  display: flex;
  justify-content: space-between;

  margin-bottom: 80px;
}

.our_services_div_bottom_three_elements{
  display: flex;
  justify-content: space-between;

  margin-bottom: 300px;
}

.our_services_h2_p{
  font-family: Barlow;
  font-size: 34px;
  font-weight: 400;
  line-height: 48.01px;
  text-align: left;

  margin-bottom: 14px;

  color: #191919;
}

.our_services_p{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: left;
  margin-bottom: 13px;

  color: #605E5D;
}

.our_services_learn_more{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  padding-left: 6px;

  color: #191919;
}

.square_div{
  display: flex;
}

.get_a_quote_today_section{
  height: 545px;

  background-image: url("img/second-image.svg");
  background-size: cover;
}

.get_a_quote_today_div{
  padding-top: 116.23px;
  padding-left: 146px;
  padding-right: 683.09px;
  padding-bottom: 115.77px;
}

.get_a_quote_today_h2{

  width: 604px;

  font-family: Barlow;
  font-size: 54px;
  font-weight: 400;
  line-height: 61.99px;
  text-align: left;

  margin-bottom: 20px;

  color: #191919;
}

.get_a_quote_today_p{

  width: 574px;

  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: left;

  margin-bottom: 35.23px;

  color: #605E5D;
}

.get_a_quote_today_buttons-div{
  width: 610.91px;
  height: 75px;

  display: flex;
  justify-content: space-between;
}

.get_a_quote_today_button{
  width: 169px;
  height: 75px;

  background-color: #FF4D01;
  border: none;
}

.get_a_quote_button_p{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

  color: #FFFFFF;
}

.get_a_quote_today_our_services_button{
  width: 180px;
  height: 75px;

  margin-right: 233.91px;

  background-color: transparent;
}

.our_services_button_p{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.why_choose_us_div_top_div{
  margin-left: 146px;
  margin-right: 146px;
  margin-bottom: 100px;
}

.why_choose_us_div{
  margin-top: 300.23px;
  margin-left: 146px;
  margin-right: 146px;
  margin-bottom: 100px;
}

.pyramid-img-div{
  display: flex;
  justify-content: center;
  text-align: center;
}

.pyramid-img{
  width: 876px;
  height: 440px;
}

.why_choose_us_div_top_div{
  display: flex;
}

.wcu_td_left_element{
  max-width: 534px;
  max-height: 534px;
}

.wcu-f-img{
  width: 534px;
  height: 534px;
}

.wcu_td_right_element{
  max-width: 532px;
  height: 448px;

  margin-top: 43px;
  margin-bottom: 43px;
  margin-left: 82px;
}

.wcu_td_re_top_p{
  font-family: Barlow;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.800000011920929px;
  text-align: left;

  color: #FF4D01;
}

.wcu_td_re_top_h2{
  font-family: Barlow;
  font-size: 54px;
  font-weight: 400;
  line-height: 61.99px;
  text-align: left;

  color: #191919;
}

.wcu_td_re_center_p{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: left;

  color: #605E5D;
}

.wcu_td_re_bottom_tick_p{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;

  color: #191919;
  margin-left: 10px;
}

.wcu_td_re_top_h2-div{
  max-width: 473px;
  max-height: 186px;

  margin-bottom: 19px;
}

.wcu_td_re_center_p_div{
  margin-bottom: 19.23px;
}

.tick_text_div{
  display: flex;

  margin-bottom: 21.23px;
}

.why_choose_us_div_bottom_div{
  max-width: 1148px;
  max-height: 534px;

  margin-left: 146px;
  margin-right: 146px;
  margin-bottom: 300px;

  display: flex;
}

.wcu_bd_left_elements{
  max-width: 560px;
  max-height: 389px;

  margin-top: 75.5px;
  margin-bottom: 72.5px;
}

.wcu_bd_right_elements{
  max-width: 534px;
  max-height: 534px;
}

.wcu_bd_le_h2{
  font-family: Barlow;
  font-size: 54px;
  font-weight: 400;
  line-height: 61.99px;
  text-align: left;
  color: #191919;

  margin-bottom: 19px;
}

.wcu_bd_le_p{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: left;
  color: #605E5D;

  max-width: 508px;

  margin-bottom: 10.73px;
}

.wcu_bd_le_bottom_div{
  max-width: 560px;
  max-height: 84px;

  display: flex;
}

.left_element_plus_div{
  display: flex;

  margin-left: 22px;
}

.left_element_percent_div{
  display: flex;

  margin-left: 12px;
}

.wcu_bd_le_bottom_div_left_element{
  margin-right: 40px;
}

.left_element_plus_p{
  font-family: Barlow;
  font-size: 54px;
  font-weight: 400;
  line-height: 61.99px;
  text-align: center;

  color: #FF4D01;
}

.element_number_p{
  font-family: Barlow;
  font-size: 54px;
  font-weight: 400;
  line-height: 61.99px;
  text-align: center;

  color: #191919;
}

.right_element_percent_p{
  font-family: Barlow;
  font-size: 54px;
  font-weight: 400;
  line-height: 61.99px;
  text-align: center;

  color: #FF4D01;
}

.left_element_p_text{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

  color: #989899;
}













.blog_section{
  margin-left: 122px;
  margin-right: 122px;
  margin-bottom: 75px;
}

.blog_header_div{
  max-width: 1148px;
  max-height: 99px;

  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 66.67px;
  
  display: flex;
}

.blog_header_p{
  font-family: Barlow;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.800000011920929px;
  text-align: left;

  color: #FF4D01;
}

.blog_header_h2{
  font-family: Barlow;
  font-size: 54px;
  font-weight: 400;
  line-height: 61.99px;
  text-align: left;

  color: #191919;

  margin-top: 15px;
  padding-right: 180px;
}

.blog_header_right_button{
  margin-left: 384px;
  margin-top: 24.67px;

  background-color: transparent;
  width: 204px;
  height: 75px;
}

.blog_header_right_button_text{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

  color: #191919;
}

.blog_bottom_div{
  max-width: 1148px;
  max-height: 736px;

  display: flex;
  justify-content: space-between;
}

.blog_bottom_div_left{
  max-width: 562px;
  max-height: 718px;
}

.blog_left_image{
  width: 562px;
  height: 562px;
}

.blog_h3{
  font-family: Barlow;
  font-size: 34px;
  font-weight: 400;
  line-height: 48.01px;
  text-align: left;
  color: #191919;
}

.blog_h3:nth-child(1){
  max-width: 287px;
  max-height: 152px;

  font-size: 28px;
}

.h3_left{
  margin-top: 20px;
}

.h3_paint{
  font-family: Barlow;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
  color: #191919;

  max-width: 287px;
  margin-top: 15.17px;
}

.blog_date{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #605E5D;

  margin-top: 21px;
  margin-left: 31px;
}

.blog_bottom_div_right{
  max-width: 562px;
  max-height: 736px;
}

.blog_bottom_div_right_inner{
  display: flex;
  margin-bottom: 32px;
}

.blog_right_image{
  width: 224px;
  height: 224px;
}

.blog_bottom_div_right_inner_right{
  margin-left: 24px;
}

.footer_section{
  background-color: #000000;
}

.footer_main_div{
  margin-left: 122px;
  margin-right: 122px;
}

.footer_top_left{
  /* margin-right: 60px; */
}

.footer_top_div{

  padding-top: 120px;
  padding-left: 56px;
  padding-right: 56px;
  padding-bottom: 128px;

  display: flex;
  justify-content: space-between;
}

.footer_left_p{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: left;

  color: #EAEAEB;

  max-width: 175px;

  margin-top: 63px;
  margin-right: 27px;
  margin-bottom: 35px;
}

.footer_left_inner_div{
  display: flex;
  margin-bottom: 79px;
}

.footer_square_div{
  width: 36px;
  height: 36px;
  background-color: #FF4D01;
  margin-right: 16px;
}

.footer_h3{
  font-family: Barlow;
  font-size: 22px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;

  color: #FFFFFF;
}

.footer_top_center_left_li{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;

  color: #EAEAEB;
}

.footer_top_center_left_ul{
  list-style: none;
  padding-left: 0;
}

.footer_top_center_left_ul:first-child{
  margin-right: 28px;
}

.footer_top_center_left_list_div{
  display: flex;
}

.footer_h3{
  margin-bottom: 40px;
}

.menu_class{
  margin-right: 222px;
}

.footer_top_center_left_li{
  margin-bottom: 17px;
}

.footer_top_center_right_li{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;

  color: #EAEAEB;

  margin-bottom: 17px;
}

.footer_top_center_right_ul{
  list-style: none;
  padding-left: 0;
}

.footer_contact_us_div{
  border: 2px solid #FF4D01;
  width: 290px;
  height: 107px;
  display: flex;
  padding-top: 29px;
  padding-left: 27px;

  margin-bottom: 18px;
}

.footer_image{
  width: 48px;
  height: 48px;
}

.footer_contact_us_inner_div{
  margin-left: 16px;
}

.footer_contact_us_inner_p{
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;

  color: #FFFFFF;
}

.bottom_left_p{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: left;

  color: #989899;
}

.bottom_left_p_white{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: left;

  color: #FFFFFF;
}

.bottom_left_p_orange{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: left;

  color: #FF4D01;
}

.footer_bottom_div{
  display: flex;
  justify-content: space-between;

  padding-left: 56px;
  padding-right: 56px;
}

.bottom_right{
  display: flex;
}


.testimonials{
  margin-bottom: 220px;
  margin-left: 146px;
  margin-right: 146px;
  margin-top: 144px;
  max-width: 1148px;
}

.testimonials_list_item{
  max-width: 790px;
  margin-top: 108px;
  margin-right: 104px;
}
.testimonials_image_block {
  margin-right: 34px;
}
.testimonials_image_block img {
  width: 340px;
}

.testimonials_text_block{
  max-width: 362px;
  padding-top: 28px;
}

.testimonials_header{
  color: #191919;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;

  margin-bottom: 13px;
}

.testimonials_text_block .section_text{
  color: #989899;
  margin-bottom: 33px;
}
.author{
  display: block;
}
.author_name{
  color: #191919;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;

  margin-bottom: 6px;
}
.author_address{
  color: #989899;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.01px;
}
.section_name{
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  color: #FF4D01;
  margin-bottom: 15px;
}
.service_text_block{
  max-width: 424px;
}
.section_heading{
  font-size: 54px;
  width: 530px;
  font-weight: 400;
  line-height: 61px;
  color: #191919;
}
.home_btns .avg_btn{
  color: #191919;
  border: 2px #191919 solid;
}
.swiper{
  width: 72px;
  height: 72px;
}
.get_quote{
  background-color: #FF4D01;
  padding: 25px 38px;
  color: #ffffff;
}
.flexB{
  display: flex;
  justify-content: space-between;
}
.section_text{
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  color: #605E5D;
}
.author{
  display: block;
}
.author_name{
  color: #191919;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;

  margin-bottom: 6px;
}
.author_address{
  color: #989899;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.01px;
}

.swiper_rectangle{
  width: 32px;
  height: 32px;
  background-color: #FF4D01;
}
